* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
  color: white;
  font-family: "Poppins", sans-serif;
}

.font2 {
  font-family: "Playfair Display", serif;
}

@media screen and (max-width: 414px) {
  body {
    font-size: 50%;
  }
}

h1,
h2,
h3 {
  margin: 0;
  line-height: 120%;
}

p,
h4,
h5 {
  margin: 0;
  line-height: 180%;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.jc-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.jc-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.jc-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.jc-evenly {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.ai-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ta-center {
  text-align: center;
}

.ta-right {
  text-align: right;
}

.ta-justify {
  text-align: justify;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.overhidden {
  overflow: hidden;
}

[class^="col"] {
  margin: 0 1.5%;
}

.col1 {
  width: 5.33333%;
}

.col2 {
  width: 13.66667%;
}

.col3 {
  width: 22%;
}

.col4 {
  width: 30.33333%;
}

.col5 {
  width: 38.66667%;
}

.col6 {
  width: 47%;
}

.col7 {
  width: 55.33333%;
}

.col8 {
  width: 63.66667%;
}

.col9 {
  width: 72%;
}

.col10 {
  width: 80.33333%;
}

.col11 {
  width: 88.66667%;
}

.col12 {
  width: 97%;
}

.nmcol1 {
  width: 8.33333%;
}

.nmcol2 {
  width: 16.66667%;
}

.nmcol3 {
  width: 25%;
}

.nmcol4 {
  width: 33.33333%;
}

.nmcol5 {
  width: 41.66667%;
}

.nmcol6 {
  width: 50%;
}

.nmcol7 {
  width: 58.33333%;
}

.nmcol8 {
  width: 66.66667%;
}

.nmcol9 {
  width: 75%;
}

.nmcol10 {
  width: 83.33333%;
}

.nmcol11 {
  width: 91.66667%;
}

.nmcol12 {
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .col1-md {
    width: 5.33333%;
  }
  .col2-md {
    width: 13.66667%;
  }
  .col3-md {
    width: 22%;
  }
  .col4-md {
    width: 30.33333%;
  }
  .col5-md {
    width: 38.66667%;
  }
  .col6-md {
    width: 47%;
  }
  .col7-md {
    width: 55.33333%;
  }
  .col8-md {
    width: 63.66667%;
  }
  .col9-md {
    width: 72%;
  }
  .col10-md {
    width: 80.33333%;
  }
  .col11-md {
    width: 88.66667%;
  }
  .col12-md {
    width: 97%;
  }
  .nmcol1-md {
    width: 8.33333%;
  }
  .nmcol2-md {
    width: 16.66667%;
  }
  .nmcol3-md {
    width: 25%;
  }
  .nmcol4-md {
    width: 33.33333%;
  }
  .nmcol5-md {
    width: 41.66667%;
  }
  .nmcol6-md {
    width: 50%;
  }
  .nmcol7-md {
    width: 58.33333%;
  }
  .nmcol8-md {
    width: 66.66667%;
  }
  .nmcol9-md {
    width: 75%;
  }
  .nmcol10-md {
    width: 83.33333%;
  }
  .nmcol11-md {
    width: 91.66667%;
  }
  .nmcol12-md {
    width: 100%;
  }
  .col-reverse-md {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .flexcol-md {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .jc-center-md {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .jc-between-md {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .jc-around-md {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .jc-evenly-md {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .ai-center-md {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .ta-center-md {
    text-align: center;
  }
  .ta-right-md {
    text-align: right;
  }
  .ta-justify-md {
    text-align: justify;
  }
  .flex-md {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 414px) {
  [class^="col"] {
    width: 100%;
  }
  [class^="nmcol"] {
    width: 100%;
  }
  .col1-xs {
    width: 5.33333%;
  }
  .col2-xs {
    width: 13.66667%;
  }
  .col3-xs {
    width: 22%;
  }
  .col4-xs {
    width: 30.33333%;
  }
  .col5-xs {
    width: 38.66667%;
  }
  .col6-xs {
    width: 47%;
  }
  .col7-xs {
    width: 55.33333%;
  }
  .col8-xs {
    width: 63.66667%;
  }
  .col9-xs {
    width: 72%;
  }
  .col10-xs {
    width: 80.33333%;
  }
  .col11-xs {
    width: 88.66667%;
  }
  .col12-xs {
    width: 97%;
  }
  .nmcol1-xs {
    width: 8.33333%;
  }
  .nmcol2-xs {
    width: 16.66667%;
  }
  .nmcol3-xs {
    width: 25%;
  }
  .nmcol4-xs {
    width: 33.33333%;
  }
  .nmcol5-xs {
    width: 41.66667%;
  }
  .nmcol6-xs {
    width: 50%;
  }
  .nmcol7-xs {
    width: 58.33333%;
  }
  .nmcol8-xs {
    width: 66.66667%;
  }
  .nmcol9-xs {
    width: 75%;
  }
  .nmcol10-xs {
    width: 83.33333%;
  }
  .nmcol11-xs {
    width: 91.66667%;
  }
  .nmcol12-xs {
    width: 100%;
  }
  .col-reverse-xs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .flexcol-xs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .jc-center-xs {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .jc-between-xs {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .jc-around-xs {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .jc-evenly-xs {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .ai-center-xs {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .ta-center-xs {
    text-align: center;
  }
  .ta-right-xs {
    text-align: right;
  }
  .ta-justify-xs {
    text-align: justify;
  }
  .flex-xs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.size1 {
  font-size: 1em;
}

.size2 {
  font-size: 2em;
}

.size3 {
  font-size: 3em;
}

.size4 {
  font-size: 4em;
}

.size5 {
  font-size: 5em;
}

.size6 {
  font-size: 6em;
}

.size7 {
  font-size: 7em;
}

.size8 {
  font-size: 8em;
}

.size9 {
  font-size: 9em;
}

.size10 {
  font-size: 10em;
}

.size11 {
  font-size: 11em;
}

.size12 {
  font-size: 12em;
}

.size13 {
  font-size: 13em;
}

.size14 {
  font-size: 14em;
}

.size15 {
  font-size: 15em;
}

.lh14 {
  line-height: 140%;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

.hover :hover {
  opacity: 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (max-width: 414px) {
  .size1-xs {
    font-size: 1em;
  }
  .size2-xs {
    font-size: 2em;
  }
  .size3-xs {
    font-size: 3em;
  }
  .size4-xs {
    font-size: 4em;
  }
  .size5-xs {
    font-size: 5em;
  }
  .size6-xs {
    font-size: 6em;
  }
  .size7-xs {
    font-size: 7em;
  }
  .size8-xs {
    font-size: 8em;
  }
  .size9-xs {
    font-size: 9em;
  }
  .size10-xs {
    font-size: 10em;
  }
  .size11-xs {
    font-size: 11em;
  }
  .size12-xs {
    font-size: 12em;
  }
  .size13-xs {
    font-size: 13em;
  }
  .size14-xs {
    font-size: 14em;
  }
  .size15-xs {
    font-size: 15em;
  }
  .lh14-xs {
    line-height: 140%;
  }
}

.spacetop1 {
  margin-top: 1em;
}

.spacebottom1 {
  margin-bottom: 1em;
}

.spaceright1 {
  margin-right: 1em;
}

.spaceleft1 {
  margin-left: 1em;
}

.spacer1 {
  padding: 1em 0;
}

.padding1 {
  padding: 1em;
}

.paddingside1 {
  padding: 0 1em;
}

.paddingtop1 {
  padding-top: 1em;
}

.paddingbottom1 {
  padding-bottom: 1em;
}

.paddingright1 {
  padding-right: 1em;
}

.paddingleft1 {
  padding-left: 1em;
}

.spacetop2 {
  margin-top: 2em;
}

.spacebottom2 {
  margin-bottom: 2em;
}

.spaceright2 {
  margin-right: 2em;
}

.spaceleft2 {
  margin-left: 2em;
}

.spacer2 {
  padding: 2em 0;
}

.padding2 {
  padding: 2em;
}

.paddingside2 {
  padding: 0 2em;
}

.paddingtop2 {
  padding-top: 2em;
}

.paddingbottom2 {
  padding-bottom: 2em;
}

.paddingright2 {
  padding-right: 2em;
}

.paddingleft2 {
  padding-left: 2em;
}

.spacetop3 {
  margin-top: 3em;
}

.spacebottom3 {
  margin-bottom: 3em;
}

.spaceright3 {
  margin-right: 3em;
}

.spaceleft3 {
  margin-left: 3em;
}

.spacer3 {
  padding: 3em 0;
}

.padding3 {
  padding: 3em;
}

.paddingside3 {
  padding: 0 3em;
}

.paddingtop3 {
  padding-top: 3em;
}

.paddingbottom3 {
  padding-bottom: 3em;
}

.paddingright3 {
  padding-right: 3em;
}

.paddingleft3 {
  padding-left: 3em;
}

.spacetop4 {
  margin-top: 4em;
}

.spacebottom4 {
  margin-bottom: 4em;
}

.spaceright4 {
  margin-right: 4em;
}

.spaceleft4 {
  margin-left: 4em;
}

.spacer4 {
  padding: 4em 0;
}

.padding4 {
  padding: 4em;
}

.paddingside4 {
  padding: 0 4em;
}

.paddingtop4 {
  padding-top: 4em;
}

.paddingbottom4 {
  padding-bottom: 4em;
}

.paddingright4 {
  padding-right: 4em;
}

.paddingleft4 {
  padding-left: 4em;
}

.spacetop5 {
  margin-top: 5em;
}

.spacebottom5 {
  margin-bottom: 5em;
}

.spaceright5 {
  margin-right: 5em;
}

.spaceleft5 {
  margin-left: 5em;
}

.spacer5 {
  padding: 5em 0;
}

.padding5 {
  padding: 5em;
}

.paddingside5 {
  padding: 0 5em;
}

.paddingtop5 {
  padding-top: 5em;
}

.paddingbottom5 {
  padding-bottom: 5em;
}

.paddingright5 {
  padding-right: 5em;
}

.paddingleft5 {
  padding-left: 5em;
}

.spacetop6 {
  margin-top: 6em;
}

.spacebottom6 {
  margin-bottom: 6em;
}

.spaceright6 {
  margin-right: 6em;
}

.spaceleft6 {
  margin-left: 6em;
}

.spacer6 {
  padding: 6em 0;
}

.padding6 {
  padding: 6em;
}

.paddingside6 {
  padding: 0 6em;
}

.paddingtop6 {
  padding-top: 6em;
}

.paddingbottom6 {
  padding-bottom: 6em;
}

.paddingright6 {
  padding-right: 6em;
}

.paddingleft6 {
  padding-left: 6em;
}

.spacetop7 {
  margin-top: 7em;
}

.spacebottom7 {
  margin-bottom: 7em;
}

.spaceright7 {
  margin-right: 7em;
}

.spaceleft7 {
  margin-left: 7em;
}

.spacer7 {
  padding: 7em 0;
}

.padding7 {
  padding: 7em;
}

.paddingside7 {
  padding: 0 7em;
}

.paddingtop7 {
  padding-top: 7em;
}

.paddingbottom7 {
  padding-bottom: 7em;
}

.paddingright7 {
  padding-right: 7em;
}

.paddingleft7 {
  padding-left: 7em;
}

.spacetop8 {
  margin-top: 8em;
}

.spacebottom8 {
  margin-bottom: 8em;
}

.spaceright8 {
  margin-right: 8em;
}

.spaceleft8 {
  margin-left: 8em;
}

.spacer8 {
  padding: 8em 0;
}

.padding8 {
  padding: 8em;
}

.paddingside8 {
  padding: 0 8em;
}

.paddingtop8 {
  padding-top: 8em;
}

.paddingbottom8 {
  padding-bottom: 8em;
}

.paddingright8 {
  padding-right: 8em;
}

.paddingleft8 {
  padding-left: 8em;
}

.spacetop9 {
  margin-top: 9em;
}

.spacebottom9 {
  margin-bottom: 9em;
}

.spaceright9 {
  margin-right: 9em;
}

.spaceleft9 {
  margin-left: 9em;
}

.spacer9 {
  padding: 9em 0;
}

.padding9 {
  padding: 9em;
}

.paddingside9 {
  padding: 0 9em;
}

.paddingtop9 {
  padding-top: 9em;
}

.paddingbottom9 {
  padding-bottom: 9em;
}

.paddingright9 {
  padding-right: 9em;
}

.paddingleft9 {
  padding-left: 9em;
}

.spacetop10 {
  margin-top: 10em;
}

.spacebottom10 {
  margin-bottom: 10em;
}

.spaceright10 {
  margin-right: 10em;
}

.spaceleft10 {
  margin-left: 10em;
}

.spacer10 {
  padding: 10em 0;
}

.padding10 {
  padding: 10em;
}

.paddingside10 {
  padding: 0 10em;
}

.paddingtop10 {
  padding-top: 10em;
}

.paddingbottom10 {
  padding-bottom: 10em;
}

.paddingright10 {
  padding-right: 10em;
}

.paddingleft10 {
  padding-left: 10em;
}

.spacetop11 {
  margin-top: 11em;
}

.spacebottom11 {
  margin-bottom: 11em;
}

.spaceright11 {
  margin-right: 11em;
}

.spaceleft11 {
  margin-left: 11em;
}

.spacer11 {
  padding: 11em 0;
}

.padding11 {
  padding: 11em;
}

.paddingside11 {
  padding: 0 11em;
}

.paddingtop11 {
  padding-top: 11em;
}

.paddingbottom11 {
  padding-bottom: 11em;
}

.paddingright11 {
  padding-right: 11em;
}

.paddingleft11 {
  padding-left: 11em;
}

.spacetop12 {
  margin-top: 12em;
}

.spacebottom12 {
  margin-bottom: 12em;
}

.spaceright12 {
  margin-right: 12em;
}

.spaceleft12 {
  margin-left: 12em;
}

.spacer12 {
  padding: 12em 0;
}

.padding12 {
  padding: 12em;
}

.paddingside12 {
  padding: 0 12em;
}

.paddingtop12 {
  padding-top: 12em;
}

.paddingbottom12 {
  padding-bottom: 12em;
}

.paddingright12 {
  padding-right: 12em;
}

.paddingleft12 {
  padding-left: 12em;
}

.spacetop13 {
  margin-top: 13em;
}

.spacebottom13 {
  margin-bottom: 13em;
}

.spaceright13 {
  margin-right: 13em;
}

.spaceleft13 {
  margin-left: 13em;
}

.spacer13 {
  padding: 13em 0;
}

.padding13 {
  padding: 13em;
}

.paddingside13 {
  padding: 0 13em;
}

.paddingtop13 {
  padding-top: 13em;
}

.paddingbottom13 {
  padding-bottom: 13em;
}

.paddingright13 {
  padding-right: 13em;
}

.paddingleft13 {
  padding-left: 13em;
}

.spacetop14 {
  margin-top: 14em;
}

.spacebottom14 {
  margin-bottom: 14em;
}

.spaceright14 {
  margin-right: 14em;
}

.spaceleft14 {
  margin-left: 14em;
}

.spacer14 {
  padding: 14em 0;
}

.padding14 {
  padding: 14em;
}

.paddingside14 {
  padding: 0 14em;
}

.paddingtop14 {
  padding-top: 14em;
}

.paddingbottom14 {
  padding-bottom: 14em;
}

.paddingright14 {
  padding-right: 14em;
}

.paddingleft14 {
  padding-left: 14em;
}

.spacetop15 {
  margin-top: 15em;
}

.spacebottom15 {
  margin-bottom: 15em;
}

.spaceright15 {
  margin-right: 15em;
}

.spaceleft15 {
  margin-left: 15em;
}

.spacer15 {
  padding: 15em 0;
}

.padding15 {
  padding: 15em;
}

.paddingside15 {
  padding: 0 15em;
}

.paddingtop15 {
  padding-top: 15em;
}

.paddingbottom15 {
  padding-bottom: 15em;
}

.paddingright15 {
  padding-right: 15em;
}

.paddingleft15 {
  padding-left: 15em;
}

@media screen and (max-width: 102em) {
  .spacetop0-md {
    margin-top: 0em;
  }
  .spacebottom0-md {
    margin-bottom: 0em;
  }
  .spaceright0-md {
    margin-right: 0em;
  }
  .spaceleft0-md {
    margin-left: 0em;
  }
  .spacer0-md {
    padding: 0em 0;
  }
  .padding0-md {
    padding: 0em;
  }
  .paddingside0-md {
    padding: 0 0em;
  }
  .paddingtop0-md {
    padding-top: 0em;
  }
  .paddingbottom0-md {
    padding-bottom: 0em;
  }
  .paddingright0-md {
    padding-right: 0em;
  }
  .paddingleft0-md {
    padding-left: 0em;
  }
  .spacetop1-md {
    margin-top: 1em;
  }
  .spacebottom1-md {
    margin-bottom: 1em;
  }
  .spaceright1-md {
    margin-right: 1em;
  }
  .spaceleft1-md {
    margin-left: 1em;
  }
  .spacer1-md {
    padding: 1em 0;
  }
  .padding1-md {
    padding: 1em;
  }
  .paddingside1-md {
    padding: 0 1em;
  }
  .paddingtop1-md {
    padding-top: 1em;
  }
  .paddingbottom1-md {
    padding-bottom: 1em;
  }
  .paddingright1-md {
    padding-right: 1em;
  }
  .paddingleft1-md {
    padding-left: 1em;
  }
  .spacetop2-md {
    margin-top: 2em;
  }
  .spacebottom2-md {
    margin-bottom: 2em;
  }
  .spaceright2-md {
    margin-right: 2em;
  }
  .spaceleft2-md {
    margin-left: 2em;
  }
  .spacer2-md {
    padding: 2em 0;
  }
  .padding2-md {
    padding: 2em;
  }
  .paddingside2-md {
    padding: 0 2em;
  }
  .paddingtop2-md {
    padding-top: 2em;
  }
  .paddingbottom2-md {
    padding-bottom: 2em;
  }
  .paddingright2-md {
    padding-right: 2em;
  }
  .paddingleft2-md {
    padding-left: 2em;
  }
  .spacetop3-md {
    margin-top: 3em;
  }
  .spacebottom3-md {
    margin-bottom: 3em;
  }
  .spaceright3-md {
    margin-right: 3em;
  }
  .spaceleft3-md {
    margin-left: 3em;
  }
  .spacer3-md {
    padding: 3em 0;
  }
  .padding3-md {
    padding: 3em;
  }
  .paddingside3-md {
    padding: 0 3em;
  }
  .paddingtop3-md {
    padding-top: 3em;
  }
  .paddingbottom3-md {
    padding-bottom: 3em;
  }
  .paddingright3-md {
    padding-right: 3em;
  }
  .paddingleft3-md {
    padding-left: 3em;
  }
  .spacetop4-md {
    margin-top: 4em;
  }
  .spacebottom4-md {
    margin-bottom: 4em;
  }
  .spaceright4-md {
    margin-right: 4em;
  }
  .spaceleft4-md {
    margin-left: 4em;
  }
  .spacer4-md {
    padding: 4em 0;
  }
  .padding4-md {
    padding: 4em;
  }
  .paddingside4-md {
    padding: 0 4em;
  }
  .paddingtop4-md {
    padding-top: 4em;
  }
  .paddingbottom4-md {
    padding-bottom: 4em;
  }
  .paddingright4-md {
    padding-right: 4em;
  }
  .paddingleft4-md {
    padding-left: 4em;
  }
  .spacetop5-md {
    margin-top: 5em;
  }
  .spacebottom5-md {
    margin-bottom: 5em;
  }
  .spaceright5-md {
    margin-right: 5em;
  }
  .spaceleft5-md {
    margin-left: 5em;
  }
  .spacer5-md {
    padding: 5em 0;
  }
  .padding5-md {
    padding: 5em;
  }
  .paddingside5-md {
    padding: 0 5em;
  }
  .paddingtop5-md {
    padding-top: 5em;
  }
  .paddingbottom5-md {
    padding-bottom: 5em;
  }
  .paddingright5-md {
    padding-right: 5em;
  }
  .paddingleft5-md {
    padding-left: 5em;
  }
  .spacetop6-md {
    margin-top: 6em;
  }
  .spacebottom6-md {
    margin-bottom: 6em;
  }
  .spaceright6-md {
    margin-right: 6em;
  }
  .spaceleft6-md {
    margin-left: 6em;
  }
  .spacer6-md {
    padding: 6em 0;
  }
  .padding6-md {
    padding: 6em;
  }
  .paddingside6-md {
    padding: 0 6em;
  }
  .paddingtop6-md {
    padding-top: 6em;
  }
  .paddingbottom6-md {
    padding-bottom: 6em;
  }
  .paddingright6-md {
    padding-right: 6em;
  }
  .paddingleft6-md {
    padding-left: 6em;
  }
  .spacetop7-md {
    margin-top: 7em;
  }
  .spacebottom7-md {
    margin-bottom: 7em;
  }
  .spaceright7-md {
    margin-right: 7em;
  }
  .spaceleft7-md {
    margin-left: 7em;
  }
  .spacer7-md {
    padding: 7em 0;
  }
  .padding7-md {
    padding: 7em;
  }
  .paddingside7-md {
    padding: 0 7em;
  }
  .paddingtop7-md {
    padding-top: 7em;
  }
  .paddingbottom7-md {
    padding-bottom: 7em;
  }
  .paddingright7-md {
    padding-right: 7em;
  }
  .paddingleft7-md {
    padding-left: 7em;
  }
  .spacetop8-md {
    margin-top: 8em;
  }
  .spacebottom8-md {
    margin-bottom: 8em;
  }
  .spaceright8-md {
    margin-right: 8em;
  }
  .spaceleft8-md {
    margin-left: 8em;
  }
  .spacer8-md {
    padding: 8em 0;
  }
  .padding8-md {
    padding: 8em;
  }
  .paddingside8-md {
    padding: 0 8em;
  }
  .paddingtop8-md {
    padding-top: 8em;
  }
  .paddingbottom8-md {
    padding-bottom: 8em;
  }
  .paddingright8-md {
    padding-right: 8em;
  }
  .paddingleft8-md {
    padding-left: 8em;
  }
  .spacetop9-md {
    margin-top: 9em;
  }
  .spacebottom9-md {
    margin-bottom: 9em;
  }
  .spaceright9-md {
    margin-right: 9em;
  }
  .spaceleft9-md {
    margin-left: 9em;
  }
  .spacer9-md {
    padding: 9em 0;
  }
  .padding9-md {
    padding: 9em;
  }
  .paddingside9-md {
    padding: 0 9em;
  }
  .paddingtop9-md {
    padding-top: 9em;
  }
  .paddingbottom9-md {
    padding-bottom: 9em;
  }
  .paddingright9-md {
    padding-right: 9em;
  }
  .paddingleft9-md {
    padding-left: 9em;
  }
  .spacetop10-md {
    margin-top: 10em;
  }
  .spacebottom10-md {
    margin-bottom: 10em;
  }
  .spaceright10-md {
    margin-right: 10em;
  }
  .spaceleft10-md {
    margin-left: 10em;
  }
  .spacer10-md {
    padding: 10em 0;
  }
  .padding10-md {
    padding: 10em;
  }
  .paddingside10-md {
    padding: 0 10em;
  }
  .paddingtop10-md {
    padding-top: 10em;
  }
  .paddingbottom10-md {
    padding-bottom: 10em;
  }
  .paddingright10-md {
    padding-right: 10em;
  }
  .paddingleft10-md {
    padding-left: 10em;
  }
  .spacetop11-md {
    margin-top: 11em;
  }
  .spacebottom11-md {
    margin-bottom: 11em;
  }
  .spaceright11-md {
    margin-right: 11em;
  }
  .spaceleft11-md {
    margin-left: 11em;
  }
  .spacer11-md {
    padding: 11em 0;
  }
  .padding11-md {
    padding: 11em;
  }
  .paddingside11-md {
    padding: 0 11em;
  }
  .paddingtop11-md {
    padding-top: 11em;
  }
  .paddingbottom11-md {
    padding-bottom: 11em;
  }
  .paddingright11-md {
    padding-right: 11em;
  }
  .paddingleft11-md {
    padding-left: 11em;
  }
  .spacetop12-md {
    margin-top: 12em;
  }
  .spacebottom12-md {
    margin-bottom: 12em;
  }
  .spaceright12-md {
    margin-right: 12em;
  }
  .spaceleft12-md {
    margin-left: 12em;
  }
  .spacer12-md {
    padding: 12em 0;
  }
  .padding12-md {
    padding: 12em;
  }
  .paddingside12-md {
    padding: 0 12em;
  }
  .paddingtop12-md {
    padding-top: 12em;
  }
  .paddingbottom12-md {
    padding-bottom: 12em;
  }
  .paddingright12-md {
    padding-right: 12em;
  }
  .paddingleft12-md {
    padding-left: 12em;
  }
  .spacetop13-md {
    margin-top: 13em;
  }
  .spacebottom13-md {
    margin-bottom: 13em;
  }
  .spaceright13-md {
    margin-right: 13em;
  }
  .spaceleft13-md {
    margin-left: 13em;
  }
  .spacer13-md {
    padding: 13em 0;
  }
  .padding13-md {
    padding: 13em;
  }
  .paddingside13-md {
    padding: 0 13em;
  }
  .paddingtop13-md {
    padding-top: 13em;
  }
  .paddingbottom13-md {
    padding-bottom: 13em;
  }
  .paddingright13-md {
    padding-right: 13em;
  }
  .paddingleft13-md {
    padding-left: 13em;
  }
  .spacetop14-md {
    margin-top: 14em;
  }
  .spacebottom14-md {
    margin-bottom: 14em;
  }
  .spaceright14-md {
    margin-right: 14em;
  }
  .spaceleft14-md {
    margin-left: 14em;
  }
  .spacer14-md {
    padding: 14em 0;
  }
  .padding14-md {
    padding: 14em;
  }
  .paddingside14-md {
    padding: 0 14em;
  }
  .paddingtop14-md {
    padding-top: 14em;
  }
  .paddingbottom14-md {
    padding-bottom: 14em;
  }
  .paddingright14-md {
    padding-right: 14em;
  }
  .paddingleft14-md {
    padding-left: 14em;
  }
  .spacetop15-md {
    margin-top: 15em;
  }
  .spacebottom15-md {
    margin-bottom: 15em;
  }
  .spaceright15-md {
    margin-right: 15em;
  }
  .spaceleft15-md {
    margin-left: 15em;
  }
  .spacer15-md {
    padding: 15em 0;
  }
  .padding15-md {
    padding: 15em;
  }
  .paddingside15-md {
    padding: 0 15em;
  }
  .paddingtop15-md {
    padding-top: 15em;
  }
  .paddingbottom15-md {
    padding-bottom: 15em;
  }
  .paddingright15-md {
    padding-right: 15em;
  }
  .paddingleft15-md {
    padding-left: 15em;
  }
}

@media screen and (max-width: 41em) {
  .spacetop0-xs {
    margin-top: 0em;
  }
  .spacebottom0-xs {
    margin-bottom: 0em;
  }
  .spaceright0-xs {
    margin-right: 0em;
  }
  .spaceleft0-xs {
    margin-left: 0em;
  }
  .spacer0-xs {
    padding: 0em 0;
  }
  .padding0-xs {
    padding: 0em;
  }
  .paddingside0-xs {
    padding: 0 0em;
  }
  .paddingtop0-xs {
    padding-top: 0em;
  }
  .paddingbottom0-xs {
    padding-bottom: 0em;
  }
  .paddingright0-xs {
    padding-right: 0em;
  }
  .paddingleft0-xs {
    padding-left: 0em;
  }
  .spacetop1-xs {
    margin-top: 1em;
  }
  .spacebottom1-xs {
    margin-bottom: 1em;
  }
  .spaceright1-xs {
    margin-right: 1em;
  }
  .spaceleft1-xs {
    margin-left: 1em;
  }
  .spacer1-xs {
    padding: 1em 0;
  }
  .padding1-xs {
    padding: 1em;
  }
  .paddingside1-xs {
    padding: 0 1em;
  }
  .paddingtop1-xs {
    padding-top: 1em;
  }
  .paddingbottom1-xs {
    padding-bottom: 1em;
  }
  .paddingright1-xs {
    padding-right: 1em;
  }
  .paddingleft1-xs {
    padding-left: 1em;
  }
  .spacetop2-xs {
    margin-top: 2em;
  }
  .spacebottom2-xs {
    margin-bottom: 2em;
  }
  .spaceright2-xs {
    margin-right: 2em;
  }
  .spaceleft2-xs {
    margin-left: 2em;
  }
  .spacer2-xs {
    padding: 2em 0;
  }
  .padding2-xs {
    padding: 2em;
  }
  .paddingside2-xs {
    padding: 0 2em;
  }
  .paddingtop2-xs {
    padding-top: 2em;
  }
  .paddingbottom2-xs {
    padding-bottom: 2em;
  }
  .paddingright2-xs {
    padding-right: 2em;
  }
  .paddingleft2-xs {
    padding-left: 2em;
  }
  .spacetop3-xs {
    margin-top: 3em;
  }
  .spacebottom3-xs {
    margin-bottom: 3em;
  }
  .spaceright3-xs {
    margin-right: 3em;
  }
  .spaceleft3-xs {
    margin-left: 3em;
  }
  .spacer3-xs {
    padding: 3em 0;
  }
  .padding3-xs {
    padding: 3em;
  }
  .paddingside3-xs {
    padding: 0 3em;
  }
  .paddingtop3-xs {
    padding-top: 3em;
  }
  .paddingbottom3-xs {
    padding-bottom: 3em;
  }
  .paddingright3-xs {
    padding-right: 3em;
  }
  .paddingleft3-xs {
    padding-left: 3em;
  }
  .spacetop4-xs {
    margin-top: 4em;
  }
  .spacebottom4-xs {
    margin-bottom: 4em;
  }
  .spaceright4-xs {
    margin-right: 4em;
  }
  .spaceleft4-xs {
    margin-left: 4em;
  }
  .spacer4-xs {
    padding: 4em 0;
  }
  .padding4-xs {
    padding: 4em;
  }
  .paddingside4-xs {
    padding: 0 4em;
  }
  .paddingtop4-xs {
    padding-top: 4em;
  }
  .paddingbottom4-xs {
    padding-bottom: 4em;
  }
  .paddingright4-xs {
    padding-right: 4em;
  }
  .paddingleft4-xs {
    padding-left: 4em;
  }
  .spacetop5-xs {
    margin-top: 5em;
  }
  .spacebottom5-xs {
    margin-bottom: 5em;
  }
  .spaceright5-xs {
    margin-right: 5em;
  }
  .spaceleft5-xs {
    margin-left: 5em;
  }
  .spacer5-xs {
    padding: 5em 0;
  }
  .padding5-xs {
    padding: 5em;
  }
  .paddingside5-xs {
    padding: 0 5em;
  }
  .paddingtop5-xs {
    padding-top: 5em;
  }
  .paddingbottom5-xs {
    padding-bottom: 5em;
  }
  .paddingright5-xs {
    padding-right: 5em;
  }
  .paddingleft5-xs {
    padding-left: 5em;
  }
  .spacetop6-xs {
    margin-top: 6em;
  }
  .spacebottom6-xs {
    margin-bottom: 6em;
  }
  .spaceright6-xs {
    margin-right: 6em;
  }
  .spaceleft6-xs {
    margin-left: 6em;
  }
  .spacer6-xs {
    padding: 6em 0;
  }
  .padding6-xs {
    padding: 6em;
  }
  .paddingside6-xs {
    padding: 0 6em;
  }
  .paddingtop6-xs {
    padding-top: 6em;
  }
  .paddingbottom6-xs {
    padding-bottom: 6em;
  }
  .paddingright6-xs {
    padding-right: 6em;
  }
  .paddingleft6-xs {
    padding-left: 6em;
  }
  .spacetop7-xs {
    margin-top: 7em;
  }
  .spacebottom7-xs {
    margin-bottom: 7em;
  }
  .spaceright7-xs {
    margin-right: 7em;
  }
  .spaceleft7-xs {
    margin-left: 7em;
  }
  .spacer7-xs {
    padding: 7em 0;
  }
  .padding7-xs {
    padding: 7em;
  }
  .paddingside7-xs {
    padding: 0 7em;
  }
  .paddingtop7-xs {
    padding-top: 7em;
  }
  .paddingbottom7-xs {
    padding-bottom: 7em;
  }
  .paddingright7-xs {
    padding-right: 7em;
  }
  .paddingleft7-xs {
    padding-left: 7em;
  }
  .spacetop8-xs {
    margin-top: 8em;
  }
  .spacebottom8-xs {
    margin-bottom: 8em;
  }
  .spaceright8-xs {
    margin-right: 8em;
  }
  .spaceleft8-xs {
    margin-left: 8em;
  }
  .spacer8-xs {
    padding: 8em 0;
  }
  .padding8-xs {
    padding: 8em;
  }
  .paddingside8-xs {
    padding: 0 8em;
  }
  .paddingtop8-xs {
    padding-top: 8em;
  }
  .paddingbottom8-xs {
    padding-bottom: 8em;
  }
  .paddingright8-xs {
    padding-right: 8em;
  }
  .paddingleft8-xs {
    padding-left: 8em;
  }
  .spacetop9-xs {
    margin-top: 9em;
  }
  .spacebottom9-xs {
    margin-bottom: 9em;
  }
  .spaceright9-xs {
    margin-right: 9em;
  }
  .spaceleft9-xs {
    margin-left: 9em;
  }
  .spacer9-xs {
    padding: 9em 0;
  }
  .padding9-xs {
    padding: 9em;
  }
  .paddingside9-xs {
    padding: 0 9em;
  }
  .paddingtop9-xs {
    padding-top: 9em;
  }
  .paddingbottom9-xs {
    padding-bottom: 9em;
  }
  .paddingright9-xs {
    padding-right: 9em;
  }
  .paddingleft9-xs {
    padding-left: 9em;
  }
  .spacetop10-xs {
    margin-top: 10em;
  }
  .spacebottom10-xs {
    margin-bottom: 10em;
  }
  .spaceright10-xs {
    margin-right: 10em;
  }
  .spaceleft10-xs {
    margin-left: 10em;
  }
  .spacer10-xs {
    padding: 10em 0;
  }
  .padding10-xs {
    padding: 10em;
  }
  .paddingside10-xs {
    padding: 0 10em;
  }
  .paddingtop10-xs {
    padding-top: 10em;
  }
  .paddingbottom10-xs {
    padding-bottom: 10em;
  }
  .paddingright10-xs {
    padding-right: 10em;
  }
  .paddingleft10-xs {
    padding-left: 10em;
  }
  .spacetop11-xs {
    margin-top: 11em;
  }
  .spacebottom11-xs {
    margin-bottom: 11em;
  }
  .spaceright11-xs {
    margin-right: 11em;
  }
  .spaceleft11-xs {
    margin-left: 11em;
  }
  .spacer11-xs {
    padding: 11em 0;
  }
  .padding11-xs {
    padding: 11em;
  }
  .paddingside11-xs {
    padding: 0 11em;
  }
  .paddingtop11-xs {
    padding-top: 11em;
  }
  .paddingbottom11-xs {
    padding-bottom: 11em;
  }
  .paddingright11-xs {
    padding-right: 11em;
  }
  .paddingleft11-xs {
    padding-left: 11em;
  }
  .spacetop12-xs {
    margin-top: 12em;
  }
  .spacebottom12-xs {
    margin-bottom: 12em;
  }
  .spaceright12-xs {
    margin-right: 12em;
  }
  .spaceleft12-xs {
    margin-left: 12em;
  }
  .spacer12-xs {
    padding: 12em 0;
  }
  .padding12-xs {
    padding: 12em;
  }
  .paddingside12-xs {
    padding: 0 12em;
  }
  .paddingtop12-xs {
    padding-top: 12em;
  }
  .paddingbottom12-xs {
    padding-bottom: 12em;
  }
  .paddingright12-xs {
    padding-right: 12em;
  }
  .paddingleft12-xs {
    padding-left: 12em;
  }
  .spacetop13-xs {
    margin-top: 13em;
  }
  .spacebottom13-xs {
    margin-bottom: 13em;
  }
  .spaceright13-xs {
    margin-right: 13em;
  }
  .spaceleft13-xs {
    margin-left: 13em;
  }
  .spacer13-xs {
    padding: 13em 0;
  }
  .padding13-xs {
    padding: 13em;
  }
  .paddingside13-xs {
    padding: 0 13em;
  }
  .paddingtop13-xs {
    padding-top: 13em;
  }
  .paddingbottom13-xs {
    padding-bottom: 13em;
  }
  .paddingright13-xs {
    padding-right: 13em;
  }
  .paddingleft13-xs {
    padding-left: 13em;
  }
  .spacetop14-xs {
    margin-top: 14em;
  }
  .spacebottom14-xs {
    margin-bottom: 14em;
  }
  .spaceright14-xs {
    margin-right: 14em;
  }
  .spaceleft14-xs {
    margin-left: 14em;
  }
  .spacer14-xs {
    padding: 14em 0;
  }
  .padding14-xs {
    padding: 14em;
  }
  .paddingside14-xs {
    padding: 0 14em;
  }
  .paddingtop14-xs {
    padding-top: 14em;
  }
  .paddingbottom14-xs {
    padding-bottom: 14em;
  }
  .paddingright14-xs {
    padding-right: 14em;
  }
  .paddingleft14-xs {
    padding-left: 14em;
  }
  .spacetop15-xs {
    margin-top: 15em;
  }
  .spacebottom15-xs {
    margin-bottom: 15em;
  }
  .spaceright15-xs {
    margin-right: 15em;
  }
  .spaceleft15-xs {
    margin-left: 15em;
  }
  .spacer15-xs {
    padding: 15em 0;
  }
  .padding15-xs {
    padding: 15em;
  }
  .paddingside15-xs {
    padding: 0 15em;
  }
  .paddingtop15-xs {
    padding-top: 15em;
  }
  .paddingbottom15-xs {
    padding-bottom: 15em;
  }
  .paddingright15-xs {
    padding-right: 15em;
  }
  .paddingleft15-xs {
    padding-left: 15em;
  }
}

.img-responsive {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.width1 {
  width: 10px;
}

.height1 {
  height: 10px;
}

.width2 {
  width: 20px;
}

.height2 {
  height: 20px;
}

.width3 {
  width: 30px;
}

.height3 {
  height: 30px;
}

.width4 {
  width: 40px;
}

.height4 {
  height: 40px;
}

.width5 {
  width: 50px;
}

.height5 {
  height: 50px;
}

.width6 {
  width: 60px;
}

.height6 {
  height: 60px;
}

.width7 {
  width: 70px;
}

.height7 {
  height: 70px;
}

.width8 {
  width: 80px;
}

.height8 {
  height: 80px;
}

.width9 {
  width: 90px;
}

.height9 {
  height: 90px;
}

.width10 {
  width: 100px;
}

.height10 {
  height: 100px;
}

.bg-lightblue {
  background: rgba(34, 42, 54, 0.95);
}

.bg-darkblue {
  background: #222a36;
}

.bg-black {
  background: #1f1e1e;
}

.bg-image {
  background-image: url(/img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-gray {
  background: #c4c4c4;
}

.purple {
  color: #676cdb;
}

.gray {
  color: #c4c4c4;
}

.white {
  color: white;
}

@media screen and (max-width: 1024px) {
  .bg-lightblue-md {
    background: rgba(34, 42, 54, 0.95);
  }
}

@media screen and (max-width: 414px) {
  .bg-lightblue-xs {
    background: rgba(34, 42, 54, 0.95);
  }
}

.header {
  position: fixed;
  background: rgba(0, 0, 0, 0.75);
  top: 0;
  left: 0;
  right: 0;
}

.navbar a {
  color: white;
  padding: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navbar a:hover {
  background: white;
  color: #676cdb;
}

.logo {
  text-decoration: none;
  color: white;
}

.card {
  padding-top: 135px;
  padding-bottom: 37px;
  padding-left: 30px;
  color: #222a36;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.card:hover {
  background: #676cdb;
  color: white;
}

.card:hover img {
  background-color: white;
}

.btn {
  padding: 0.5em 2em;
  margin: 0;
  background: #676cdb;
  color: white;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn:hover {
  background: white;
  color: #676cdb;
}

#menu-btn {
  display: none;
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }
}

.icon a :hover {
  opacity: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.shadow {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.border {
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
}

.bor-top {
  border-top: 0.1rem solid rgba(0, 0, 0, 0.3);
}
/*# sourceMappingURL=style.css.map */