.bor {
    &der {
        border: .1rem solid rgba(0, 0, 0, .3);
    }

    &-top {
        border-top: .1rem solid rgba(0, 0, 0, .3);
    }

    &-bottom {
        border-bottom: .1rem solid white;
    }
}