.card {
  padding-top: 135px;
  padding-bottom: 37px;
  padding-left: 30px;
  transition: 0.5s;

  &:hover {
    background: $purple;
    color: white;
    transform: scale(1.2);

    img {
      background-color: white;
    }

  }
}