.card {
  padding-top: 135px;
  padding-bottom: 37px;
  padding-left: 30px;
  color: rgba(34, 42, 54, 1);
  &:hover {
    background: rgba(103, 108, 219, 1);
    color: white;
    img {
      background-color: white;
    }
  }
}
