.bg-lightblue {
  background: rgba(34, 42, 54, 0.95);
}
.bg-darkblue {
  background: rgba(34, 42, 54, 1);
}
.purple {
  color: rgba(103, 108, 219, 1);
}

.bg-gray {
  background: #c4c4c4;
}
.gray {
  color: rgba(255, 255, 255, 0.5);
}
.white {
  color: white;
}
