.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.jc-between {
  justify-content: space-between;
}
.jc-center {
  justify-content: center;
}
.ai-center {
  align-items: center;
}
.ta-center {
  text-align: center;
}
.ta-right {
  text-align: right;
}
[class^="col"] {
  margin: 1.5%;
}
@for $i from 1 through 12 {
  .col#{$i} {
    width: (100%/ (12 / $i))-3%;
  }
}
@for $i from 1 through 12 {
  .nmcol#{$i} {
    width: (100%/ (12 / $i));
  }
}
@media screen and(max-width:1024px) {
  @for $i from 1 through 12 {
    .col#{$i}-md {
      width: (100%/ (12 / $i))-3%;
    }
  }
}
@media screen and(max-width:414px) {
  [class^="col"] {
    width: 100%;
  }
  @for $i from 1 through 12 {
    .col#{$i}-xs {
      width: (100%/ (12 / $i))-3%;
    }
  }
  .col-reverse {
    flex-direction: column-reverse;
  }
  .col {
    flex-direction: column;
  }
  .jc-between-xs {
    justify-content: space-between;
  }
  .jc-center-xs {
    justify-content: center;
  }
  .ai-center-xs {
    align-items: center;
  }
  .ta-center-xs {
    text-align: center;
  }
  .ta-right-xs {
    text-align: right;
  }
}
