.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.jc {
  &-center {
    justify-content: center;
  }
  &-between {
    justify-content: space-between;
  }
  &-around {
    justify-content: space-around;
  }
  &-evenly {
    justify-content: space-evenly;
  }
}

.ai-center {
  align-items: center;
}
.ta {
  &-center {
    text-align: center;
  }
  &-right {
    text-align: right;
  }
}
.flex {
  display: flex;
}
[class^="col"] {
  margin: 0 1.5%;
}
@for $i from 1 through 12 {
  .col#{$i} {
    width: (100%/ (12 / $i))-3%;
  }
}
@for $i from 1 through 12 {
  .nmcol#{$i} {
    width: (100%/ (12 / $i));
  }
}
@media screen and(max-width:1024px) {
  @for $i from 1 through 12 {
    .col#{$i}-md {
      width: (100%/ (12 / $i))-3%;
    }
  }
  .col-reverse-md {
    flex-direction: column-reverse;
  }
  .flexcol-md {
    flex-direction: column;
  }
  .jc {
    &-center-md {
      justify-content: center;
    }
    &-between-md {
      justify-content: space-between;
    }
    &-around-md {
      justify-content: space-around;
    }
    &-evenly-md {
      justify-content: space-evenly;
    }
  }

  .ai-center-md {
    align-items: center;
  }
  .ta {
    &-center-md {
      text-align: center;
    }
    &-right-md {
      text-align: right;
    }
  }
  .flex-md {
    display: flex;
  }
}
@media screen and(max-width:414px) {
  [class^="col"] {
    width: 100%;
  }
  @for $i from 1 through 12 {
    .col#{$i}-xs {
      width: (100%/ (12 / $i))-3%;
    }
  }
  .col-reverse-xs {
    flex-direction: column-reverse;
  }
  .flexcol-xs {
    flex-direction: column;
  }

  .jc {
    &-center-xs {
      justify-content: center;
    }
    &-between-xs {
      justify-content: space-between;
    }
    &-around-xs {
      justify-content: space-around;
    }
    &-evenly-xs {
      justify-content: space-evenly;
    }
  }

  .ai-center-xs {
    align-items: center;
  }
  .ta {
    &-center-xs {
      text-align: center;
    }
    &-right-xs {
      text-align: right;
    }
  }
  .flex-xs {
    display: flex;
  }
}
