.header {
  position: fixed;
  background: rgba(0, 0, 0, 0.75);
  top: 0;
  left: 0;
  right: 0;
}

.navbar {
  a {
    color: white;
    padding: 10px;
    transition: 0.5s;

    &:hover {
      background: white;
      color: rgba(103, 108, 219, 1);
    }
  }
}

.logo {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

#burger {
  display: none;
}

@media(max-width:768px) {

  #burger {
    display: inline-block;
  }

  .contact {
    display: none;
  }

  .navbar {
    position: absolute;
    top: 100%;
    bottom: 20;

    right: 0;
    left: 50%;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    background: rgba(0, 0, 0, 0.75);

  }

  &.active {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
  }

  a {
    display: block;
    text-align: right;
  }
}