.header {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

.navbar {
  a {
    color: white;
    padding: 10px;
    transition: 0.5s;

    &:hover {
      background: white;
      color: $purple;
    }
  }
}

.logo {
  text-decoration: none;
  color: white;
}

#burger {
  display: none;
}

.scroll-bar {
  height: 0.5rem;
  z-index: 1000;
}

@media(max-width:768px) {

  #burger {
    display: inline-block;
  }

  .contact {
    display: none;
  }

  .navbar {
    position: absolute;
    top: 99%;
    height: 100vh;

    right: 0;
    width: 50%;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    background: rgba(0, 0, 0, 0.75);

    a {
      margin-top: 10rem;
      display: block;
      text-align: center;
    }
  }

  &.active {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
  }


}

@media(max-width:414px) {
  .navbar {
    width: 70%;
  }
}