// @for $i from 1 through 15 {
//   .spacetop#{$i} {
//     margin-top: $i * 10px;
//   }
//   .spacebottom#{$i} {
//     margin-bottom: $i * 10px;
//   }
//   .spaceright#{$i} {
//     margin-right: $i * 10px;
//   }
//   .spaceleft#{$i} {
//     margin-left: $i * 10px;
//   }
//   .spacer#{$i} {
//     padding: ($i * 10px) 0;
//   }
//   .paddingtop#{$i} {
//     padding-top: $i * 10px;
//   }
//   .paddingbottom#{$i} {
//     padding-bottom: $i * 10px;
//   }
//   .paddingright#{$i} {
//     padding-right: ($i * 10px);
//   }
//   .paddingleft#{$i} {
//     padding-left: ($i * 10px);
//   }
// }

// @media screen and (max-width: 1024px) {
//   @for $i from 0 through 15 {
//     .spacetop#{$i}-md {
//       margin-top: $i * 10px;
//     }
//     .spacebottom#{$i}-md {
//       margin-bottom: $i * 10px;
//     }
//     .spaceright#{$i}-md {
//       margin-right: $i * 10px;
//     }
//     .spaceleft#{$i}-md {
//       margin-left: $i * 10px;
//     }
//     .spacer#{$i}-md {
//       padding: ($i * 10px) 0;
//     }
//     .paddingtop#{$i}-md {
//       padding-top: $i * 10px;
//     }
//     .paddingbottom#{$i}-md {
//       padding-bottom: $i * 10px;
//     }
//     .paddingright#{$i}-md {
//       padding-right: ($i * 10px);
//     }
//     .paddingleft#{$i}-md {
//       padding-left: ($i * 10px);
//     }
//   }
// }
// @media screen and (max-width: 414px) {
//   @for $i from 0 through 15 {
//     .spacetop#{$i}-xs {
//       margin-top: $i * 10px;
//     }
//     .spacebottom#{$i}-xs {
//       margin-bottom: $i * 10px;
//     }
//     .spaceright#{$i}-xs {
//       margin-right: $i * 10px;
//     }
//     .spaceleft#{$i}-xs {
//       margin-left: $i * 10px;
//     }
//     .spacer#{$i}-xs {
//       padding: ($i * 10px) 0;
//     }
//     .paddingtop#{$i}-xs {
//       padding-top: $i * 10px;
//     }
//     .paddingbottom#{$i}-xs {
//       padding-bottom: $i * 10px;
//     }
//     .paddingright#{$i}-xs {
//       padding-right: ($i * 10px);
//     }
//     .paddingleft#{$i}-xs {
//       padding-left: ($i * 10px);
//     }
//   }
// }
@for $i from 1 through 15 {
  .space#{$i} {
    margin: ($i * 1rem) 0;
  }

  .spacetop#{$i} {
    margin-top: $i * 1rem;
  }

  .spacebottom#{$i} {
    margin-bottom: $i * 1rem;
  }

  .spaceright#{$i} {
    margin-right: $i * 1rem;
  }

  .spaceleft#{$i} {
    margin-left: $i * 1rem;
  }

  .spacer#{$i} {
    padding: ($i * 1rem) 0;
  }

  .padding#{$i} {
    padding: $i * 1rem;
  }

  .paddingside#{$i} {
    padding: 0 ($i * 1rem);
  }

  .paddingtop#{$i} {
    padding-top: $i * 1rem;
  }

  .paddingbottom#{$i} {
    padding-bottom: $i * 1rem;
  }

  .paddingright#{$i} {
    padding-right: ($i * 1rem);
  }

  .paddingleft#{$i} {
    padding-left: ($i * 1rem);
  }
}

@media screen and (max-width: 102rem) {
  @for $i from 0 through 15 {
    .spacetop#{$i}-md {
      margin-top: $i * 1rem;
    }

    .spacebottom#{$i}-md {
      margin-bottom: $i * 1rem;
    }

    .spaceright#{$i}-md {
      margin-right: $i * 1rem;
    }

    .spaceleft#{$i}-md {
      margin-left: $i * 1rem;
    }

    .spacer#{$i}-md {
      padding: ($i * 1rem) 0;
    }

    .padding#{$i}-md {
      padding: $i * 1rem;
    }

    .paddingside#{$i}-md {
      padding: 0 ($i * 1rem);
    }

    .paddingtop#{$i}-md {
      padding-top: $i * 1rem;
    }

    .paddingbottom#{$i}-md {
      padding-bottom: $i * 1rem;
    }

    .paddingright#{$i}-md {
      padding-right: ($i * 1rem);
    }

    .paddingleft#{$i}-md {
      padding-left: ($i * 1rem);
    }
  }
}

@media screen and (max-width: 41rem) {
  @for $i from 0 through 15 {
    .spacetop#{$i}-xs {
      margin-top: $i * 1rem;
    }

    .spacebottom#{$i}-xs {
      margin-bottom: $i * 1rem;
    }

    .spaceright#{$i}-xs {
      margin-right: $i * 1rem;
    }

    .spaceleft#{$i}-xs {
      margin-left: $i * 1rem;
    }

    .spacer#{$i}-xs {
      padding: ($i * 1rem) 0;
    }

    .padding#{$i}-xs {
      padding: $i * 1rem;
    }

    .paddingside#{$i}-xs {
      padding: 0 ($i * 1rem);
    }

    .paddingtop#{$i}-xs {
      padding-top: $i * 1rem;
    }

    .paddingbottom#{$i}-xs {
      padding-bottom: $i * 1rem;
    }

    .paddingright#{$i}-xs {
      padding-right: ($i * 1rem);
    }

    .paddingleft#{$i}-xs {
      padding-left: ($i * 1rem);
    }
  }
}